@model ShaTask.Models.InvoiceHeader

@{
    ViewData["Title"] = "Details";
}

<br />
<h1>Invoice Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <span>ID</span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            <span>Customer Name</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            <span>Date</span>
        </dt>
        <dd class = "col-sm-10">
            @{
                var dateOnly = Model.Invoicedate.ToString("yyyy-MM-dd");
            }
            <span>@dateOnly</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cashier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cashier.CashierName)
        </dd>
        @{var products = string.Empty; double totalPrice = 0;}
        @foreach (var product in Model.InvoiceDetails)
        {
            products += $"{product.ItemName} - Q: {product.ItemCount}<br>";
            totalPrice += product.ItemCount * product.ItemPrice;
        }
        <dt class="col-sm-2">
            <span>Items</span>
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(@products)
        </dd>
        <dt class="col-sm-2">
            <span>Total Price</span>
        </dt>
        <dd class="col-sm-10">
            <span>@totalPrice LE</span>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
