@model IEnumerable<ShaTask.Models.Cashier>

@{
    ViewData["Title"] = "Index";
}

<h1>Cashiers</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>Cashier ID</span>
            </th>
            <th>
                <span>Cashier Name</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                <span>Actions</span>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.BranchName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn text-primary" title="Edit"><i class="fa-regular fa-pen-to-square fa-xl"></i></a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn text-warning" title="Details"><i class="fa-solid fa-circle-info fa-xl"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn text-danger" title="Delete"><i class="fa-solid fa-trash-can fa-xl"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
